service: upload-sls
frameworkVersion: '2'
useDotenv: true

provider:
  name: aws
  runtime: nodejs14.x
  lambdaHashingVersion: 20201221
  region: ap-southeast-2
  stage: prod
  vpc:
    securityGroupIds:
      - sg-b13c2dd6
    subnetIds:
      - subnet-038ab4cdfc5bc874e
      - subnet-0e9f9ef7e18896420
      - subnet-09daaf3887ffc0723
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "s3:*"
          Resource: "arn:aws:s3:::upload-sls/*"
  apiGateway:
    shouldStartNameWithService: true # can remove this after sls v3

functions:
  url:
    handler: handler.url
    environment:
      DOMAIN_ALLOWLIST: ${env:DOMAIN_ALLOWLIST}
    events:
      - http:
          path: /
          method: post
          cors: true

resources:
  Resources:
    UploadBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: upload-sls
        CorsConfiguration:
          CorsRules:
          - AllowedMethods:
            - GET
            - PUT
            - POST
            - HEAD
            AllowedOrigins:
            - "*"
            AllowedHeaders:
            - "*"
